/data
/logs
/results
/outputs
/.vscode
/.torch_extensions
/src/data/__pycache__
/src/utils/__pycache__
/src/training/__pycache__
/src/evaluation/__pycache__
/src/models/__pycache__
/src/experiments/__pycache__
src/__pycache__

